.RestoreAlbums {
  font-size: large;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: black;
  border-width: 0.1rem;
  color: black;
  padding: 0.4rem;
  white-space: nowrap;
}

.RestoreAlbums:hover {
  cursor: pointer;
}
