.App {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Options {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  gap: 0.5rem;
}

.Header {
  display: flex;
  flex-wrap: wrap;
}

.Title {
  margin-right: 3rem;
}

@media screen and (min-width: 510px) {
  .Options {
    gap: 2rem;
  }
}
